{erl_opts,
 [warn_unused_import, warn_export_vars, verbose, report, debug_info]}.

{minimum_otp_vsn, "21"}.

{deps, [{katana_code, "1.2.0"}]}.

{project_plugins,
 [{rebar3_hex, "~> 7.0.1"},
  {rebar3_hank, "~> 1.2.2"},
  {rebar3_lint, "~> 1.0.2"},
  {rebar3_sheldon, "~> 0.4.2"}]}.

{dialyzer, [{warnings, [no_return, unmatched_returns, error_handling, underspecs]}]}.

{edoc_opts, [{todo, true}, {overview, "priv/overview.edoc"}]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{spellcheck,
 [{ignore_regex, "([\\=+|(<>#{}/*]+|^\\-|^_|\\d[.]\\d|[a-z][.][a-z]|[?][A-Z])"},
  {files, ["src/**/*.?rl", "src/*.app.src", "test/*.?rl"]},
  {additional_dictionaries, ["nextroll.dict", "test.dict"]}]}.

{alias, [{test, [lint, spellcheck, hank, dialyzer, ct, cover]}, {format, [compile]}]}.

{post_hooks, [{compile, "escript priv/scripts/format"}]}.

{hank, [{ignore, ["test_app/**/*"]}]}.

{hex, [{doc, #{provider => edoc}}]}.
